
* {
	font-family: 'Lato', sans-serif;
}

body {
	background-image: url(../images/trainbackground.jpg);
	background-position: center;
	background-size: cover;
}

.jumbotron {
	background: rgb(105, 105, 105);
	background: rgba(105, 105, 105, .5);
	border-color: #fff;	
	color: #fff;
}

.panel-default>.panel-heading {
	color: #fff;
    background-color: #7C858B;
    border-color: #495258;
}

.panel-default {
    border-color: #495258;
}